{
  "private": "{{ npm_private }}",
  "files": [
    "!**/*.json",
    "!**/*.spec*",
    "bin",
    "dist",
    "CHANGELOG.md",
    "CONTRIBUTING.md",
    "LICENSE",
    "README.md"
  ],
  "main": "dist/main.minified.js",
  "bin": {
    "{{ bin_name }}": "bin/cli"
  },
  "scripts": {
    "build": "task npm:build",
    "clean": "task common:clean npm:clean",
    "commit": "task common:commit",
    "info": "task --list",
    "preinstall": "npx -y only-allow pnpm",
    "prepare": "task common:husky",
    "prepare-release": "task common:prepare-release",
    "requirements": "task common:requirements",
    "reset": "task common:reset",
    "reset-force": "task common:reset-force",
    "start": "task npm:start",
    "test": "task npm:test",
    "update": "task common:update"
  },
  "typings": "dist/main.d.ts",
  "man": "dist/man",
  "dependencies": {
    "@nestjs/config": "^1.0.3",
    "@nestjs/event-emitter": "^1.0.0",
    "cache-manager": "^3.4.4",
    "class-transformer": "^0.4.0",
    "class-validator": "^0.13.1"
  },
  "devDependencies": {
    "@types/cache-manager": "^3.4.2",
  },
  "jest": {
    "moduleFileExtensions": [
      "js",
      "json",
      "ts"
    ],
    "reporters": [
      "default",
      [
        "jest-html-reporters",
        {
          "logoImgPath": "./.common/assets/logo.png",
          "pageTitle": "Code Coverage Report",
          "publicPath": "./coverage",
          "filename": "code-coverage.html",
          "openReport": true
        }
      ]
    ],
    "projects": [
      {
        "displayName": "test"
      },
      {
        "runner": "jest-runner-eslint",
        "displayName": "lint",
        "testMatch": [
          "src/**/*.spec.ts"
        ]
      }
    ],
    "watchPlugins": [
      "jest-runner-eslint/watch-fix"
    ],
    "rootDir": "src",
    "testRegex": ".*\\.spec\\.ts$",
    "transform": {
      "^.+\\.(t|j)s$": "ts-jest"
    },
    "collectCoverageFrom": [
      "**/*.(t|j)s"
    ],
    "coverageDirectory": "../coverage",
    "testEnvironment": "node"
  },
  "keywords": [
    "bin",
    "cli",
    "npm",
    "node",
    "nest"
  ],
  "publishConfig": {
    "access": "{{ npm_publish_config_access }}"
  },
  "nodemonConfig": {
    "exec": "nest build && node --inspect-brk dist/main",
    "ext": "js,jsx,json,ts,yml",
    "ignore": [
      "src/**/*.spec.ts"
    ],
    "watch": [
      ".env",
      "src"
    ]
  }
}
