{
  "private": "{{ npm_private }}",
  "files": [
    "!**/*.json",
    "!**/*.spec*",
    "!dist/bin",
    "!dist/main.bundled.js",
    "!dist/main.minified.js",
    "bin",
    "dist",
    "CHANGELOG.md",
    "LICENSE",
    "README.md"
  ],
  "main": "dist/main.js",
  "bin": {
    "_pkg_{{ bin_name }}": "bin/cli",
    "{{ bin_name }}": "bin/cli"
  },
  "scripts": {
    "build": "task npm:build",
    "clean": "task common:clean npm:clean",
    "commit": "task common:commit",
    "info": "task --list",
    "preinstall": "npx -y only-allow pnpm",
    "prepare": "task common:husky",
    "prepare-release": "task common:prepare-release",
    "requirements": "task common:requirements",
    "reset": "task common:reset",
    "reset-force": "task common:reset-force",
    "start": "task npm:start",
    "test": "task npm:test",
    "update": "task common:update"
  },
  "typings": "dist/main.d.ts",
  "man": "dist/man",
  "dependencies": {
    "@nestjs/common": "8.1.2",
    "@nestjs/config": "^1.0.3",
    "@nestjs/core": "8.1.2",
    "@nestjs/event-emitter": "^1.0.0",
    "cache-manager": "^3.4.4",
    "class-transformer": "^0.4.0",
    "class-validator": "^0.13.1",
    "chalk": "^4.1.2",
    "commander": "^8.3.0",
    "cosmiconfig": "^7.0.1",
    "inquirer": "^8.2.0",
    "nest-commander": "^2.3.3",
    "ora": "^6.0.1",
    "rxjs": "7.4.0",
    "shelljs": "^0.8.4",
    "update-notifier": "^5.1.0"
  },
  "devDependencies": {
    "@types/cache-manager": "^3.4.2",
    "@types/inquirer": "8.1.3",
    "@types/node": "^15.0.1",
    "@types/shelljs": "^0.8.9",
    "@types/jest": "^27.0.2",
    "@types/update-notifier": "^5.1.0",
    "esbuild-node-externals": "^1.3.0",
    "nest-commander-schematics": "^2.0.1",
    "nest-commander-testing": "^2.0.1",
    "remark-man": "^8.0.0",
    "tsconfig-paths": "^3.11.0",
    "typescript": "^4.4.4"
  },
  "jest": {
    "preset": "@megabytelabs/jest-preset",
    "reporters": [
      "default",
      [
        "jest-html-reporters",
        {
          "filename": "index.html",
          "logoImgPath": "./.common/assets/logo-icon-square-200x200.png",
          "openReport": true,
          "pageTitle": "Code Coverage Report",
          "publicPath": "./coverage"
        }
      ]
    ]
  },
  "keywords": [
    "bin",
    "cli",
    "npm",
    "node",
    "nest"
  ],
  "pkg": {
    "compress": "Brotli",
    "outputPath": "dist/bin"
  },
  "publishConfig": {
    "access": "{{ npm_publish_config_access }}"
  },
  "nodemonConfig": {
    "exec": "nest build && node --inspect-brk dist/main",
    "ext": "js,jsx,json,ts,yml",
    "ignore": [
      "src/**/*.spec.ts"
    ],
    "watch": [
      ".env",
      "src"
    ]
  }
}
