{
  "author": "{{author.name}} <{{author.email}}> ({{link.home}})",
  "bugs": {
    "email": "{{email.help}}",
    "url": "{{repository.gitlab}}{{repository.location.issues.gitlab}}"
  },
  "config": {
    "commitizen": {
      "path": "cz-conventional-changelog"
    }
  },
  "dependencies": {},
  "description": "{{description}}",
  "devDependencies": {
    "prettier-plugin-organize-imports": "^2.3.2",
    "typescript": "^4.4.4"
  },
  "engines": {
    "node": ">=10"
  },
  "funding": [
    {
      "type": "opencollective",
      "url": "{{profile_link.opencollective}}/{{profile.opencollective}}"
    },
    {
      "type": "patreon",
      "url": "{{profile_link.patreon}}/{{profile.patreon}}"
    }
  ],
  "homepage": "{{link.home}}",
  "keywords": [
    "megabytelabs",
    "professormanhattan"
  ],
  "license": "{{license}}",
  "lint-staged": {
    "**/*": [
      "blocklint --wordlist blacklist,slave,whitelist",
      "check-merge-conflict",
      "check-added-large-files",
      "check-symlinks",
      "destroyed-symlinks"
    ],
    "**/*.(css|html|less|md|mjml|php|scss|sh|xml)": [
      "task fix:prettier --"
    ],
    "**/*.(jpg|png)": [
      "task image:compress --"
    ],
    "**/*.(js|jsx|ts)": [
      "task fix:js --",
      "task lint:js --"
    ],
    "**/*.json": [
      "task fix:json --"
    ],
    "**/*.sh": [
      "task fix:shell --",
      "task lint:shell --"
    ],
    "**/*.toml": [
      "task lint:toml --"
    ],
    "**/*.xml": [
      "task fix:xml --",
      "task lint:xml --"
    ],
    "**/*.yml": [
      "task fix:yaml --",
      "task lint:yaml --"
    ],
    "logo.png": [
      "task image:resize -- 200 200",
      "task image:compress --"
    ],
    "requirements.txt": [
      "requirements-txt-fixer"
    ]
  },
  "man": "./.assets/man",
  "name": "@{{profile.npmjs_organization}}/{{repository.prefix.github}}{{slug}}",
  "prettier": "@megabytelabs/prettier-config",
  "repository": {
    "type": "git",
    "url": "git+{{repository.github}}.git"
  },
  "scripts": {
    "clean": "task common:clean",
    "commit": "task common:commit",
    "info": "task --list",
    "prepare": "task common:husky",
    "prepare-release": "task common:prepare-release",
    "requirements": "task common:requirements",
    "reset": "task common:reset",
    "reset-force": "task common:reset-force",
    "update": "task common:update"
  },
  "standard-version": {
    "scripts": {
      "prerelease": "git add --all"
    }
  },
  "type": "module",
  "version": "0.0.1"
}
